.btn {
  cursor: pointer;
  border-radius: 1000px;
  transition: background 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  span {
    font-weight: 500;
  }

  &.btn-custom {
    &-sm {
      padding: 8px 14px;
      span {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &-md {
      padding: 10px 16px;
      span {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &-lg {
      padding: 10px 18px;
      span {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &-xl {
      padding: 12px 20px;
      span {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &-2xl {
      padding: 12px 20px;
      span {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .spinner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #f5f5ff 94%, #0000) top/3.8px 3.8px no-repeat,
      conic-gradient(#0000 30%, #f5f5ff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3.8px), #000 0);
    animation: spinner 1s infinite linear;
    @keyframes spinner {
      to {
        transform: rotate(1turn);
      }
    }
  }

  &.primary {
    background: #FFDF43;
    span {
      color: rgba(0, 0, 0, 0.80)
    }
    &:hover {
      background: #FDCB12;
    }
    &:focus {
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFF9C2;
    }
  }
  &:disabled {
    cursor: not-allowed;
    span {
      color: #667085;
    }
    background: #344054;
    &:hover {
      background: #344054;
    }
  }
  &.loading {
    cursor: not-allowed;
    opacity: 0.5;
  }
}